/bejeweled/bejeweled/obj/x86/Debug/*.cache
/bejeweled/bejeweled/obj/x86/Debug/*.cache
/bejeweled/bejeweledContent/obj/x86/Debug/*.cache
/bejeweled/bejeweledContent/obj/x86/Debug/*.cache

/bejeweled/bejeweled/bin/x86/Debug/*.exe
/bejeweled/bejeweled/obj/x86/Debug/*.exe
/bejeweled/bejeweled/bin/x86/Debug/*.pdb
/bejeweled/bejeweled/obj/x86/Debug/*.pdb

/bejeweled/bejeweled/*.user

/bejeweled/bejeweled/obj

/bejeweled/bejeweledContent/obj

/bejeweled.suo

/bejeweled/bejeweled/bin
/bejeweled/bejeweled/obj

/bejeweled/bejeweledContent/bin
/bejeweled/bejeweledContent/obj
/bejeweled\bejeweled/bejeweled.csproj.Debug.cachefile
